# load data and libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Load the dataset
df = pd.read_csv('/content/sample_data/C&T train dataset (1).csv', usecols=['sno','acc_info','duration_month','credit_history','purpose','savings_acc','employment_st','personal_status','gurantors','resident_since','property_type','installment_type','housing_type','credits_no','job_type','liables','Group_no'])

# Data preparation

In [ ]:
# Convert categorical variables to numerical using LabelEncoder
label_encoder = LabelEncoder()
for col in df.columns:
    if df[col].dtype == 'object':
        df[col] = label_encoder.fit_transform(df[col])
print(df)
# Split the dataset into features (X) and target variable (y)
X = df.drop("Group_no", axis="columns")
y = df['Group_no']

     sno  acc_info  duration_month  credit_history  purpose  savings_acc  \
0      1         0               6               4        4            4
1      2         1              48               2        4            0
2      3         3              12               4        7            0
3      4         0              42               2        3            0
4      5         0              24               3        0            0
..   ...       ...             ...             ...      ...          ...
795  796         3               9               2        3            1
796  797         0              18               2        1            4
797  798         3              12               4        3            0
798  799         3              24               3        0            4
799  800         1               9               2        0            4

     employment_st  personal_status  gurantors  resident_since  property_type  \
0                4                2          0               4              0
1                2                1          0               2              0
2                3                2          0               3              0
3                3                2          2               4              1
4                2                2          0               4              3
..             ...              ...        ...             ...            ...
795              1                1          0               4              1
796              4                2          0               4              1
797              1                1          0               4              1
798              4                3          0               4              2
799              1                2          0               2              0

     installment_type  housing_type  credits_no  job_type  liables  Group_no
0                   2             1           2         2        1         3
1                   2             1           1         2        1         1
2                   2             1           1         1        2         2
3                   2             2           1         2        2         1
4                   2             2           2         2        2         1
..                ...           ...         ...       ...      ...       ...
795                 2             0           1         2        1         2
796                 2             2           1         2        2         1
797                 2             0           2         1        1         3
798                 2             1           2         2        1         3
799                 2             1           1         0        1         2

[800 rows x 17 columns]

# encoding